node_modules
build
.DS_Store
__pycache__
*.egg-info
*.iml
*.bcolz
*.pk
*.h5
*.c
*.pyc
*.con
*.log
*.csv
.coverage
.tox
.tmp.pkl
bundle
persist
.cache
.idea
.vscode
htmlcov
.coverage
dump.rdb

binding.gyp
cpp
deps
lib
scripts